
html,
body, * {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}


.indicators {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.indicators > button {
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #191D04;
    background-color: #EFF8E5;
    cursor: pointer;
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000!important;
    justify-content: center;
    align-items: center;
    background-color: #EFF8E5;
}

.indicators > button.active {
    background-color: #F08700;
    padding: 5px;
    color: #fff;
}
/*.alice-carousel__dots{
    border:  solid 1px red;
    color: #F08700;
}
.alice-carousel__slide-info .alice-carousel__next-btn .alice-carousel__next-btn-item{
    border:  solid 1px blue;
}
.alice-carousel__slide-info-item{
    border:  solid 1px blue;
}*/

.layout {
    background-color: #EFF8E5;
}

.main-container {
    /* max-width: 1400px;*/
    margin: auto;
    width: 100%;

}

.navbar-container {
    /*  width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-around;
      background-color: #ebebeb;
      margin: 6px 18px;
      position: fixed;
      z-index: 1000 !important;*/
    width: 100%;
    height: 100%;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(194, 210, 181, 0.5);
    box-shadow: 0 10px 30px 0 rgba(25, 29, 4, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid #191D04;
    position: fixed;
    z-index: 2;
    top: 0;
}

/*.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}*/
/*.marquee {
    border:  solid 1px red;
   background-color: #BF1A2F;
    width: 100%;
}*/
/*.alice-carousel {
    border:  solid 1px red;
    background-color: #000;
    justify-content: center;
    align-items: center;
    align-content: center;
}*/
.item-svg {
    stroke: #191D04;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.track {
    width: 100%;
}


span.text-red {
    -webkit-text-stroke: 1px #BF1A2F;
    margin-left: 6px;
}

.logo {
    color: #191D04;
    font-size: 18px;
    font-weight: bold;
}

.cart-icon {
    font-size: 25px;
    color: #191D04;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.cart-icon:hover {
    transform: scale(1.1, 1.1);
}

.cart-item-qty {
    position: absolute;
    right: -8px;
    font-size: 12px;
    color: #ffffff;
    background-color: #BF1A2F;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;

}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
    width: 100%;

}

.product-card {
    cursor: pointer;
    background: rgba(25, 29, 4, 1);
    padding: 1em;
    border-radius: 15px;
    max-width: 282px;
    height: 400px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}
.product-card-carousel {
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 1em;
    border-radius: 30px;
justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(2, 2, 2, 0.5);
    align-self: center;
}
.product-name-carousel {
    font-size: 70px;
    position: absolute;
    right: 1em;
    top: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.product-details-carousel {
    font-size: 25px;
    font-weight: bold;
}
.product-image {
    background-color: transparent;
    object-fit: contain;
    width: 250px;
    height: 250px;

}

.product-name {
    font-weight: 800;
    color: #FFFFFF;
}

.product-details {
    font-weight: 500;
    margin-top: 6px;
    color: #EBEBEB;
}

.hero-banner-container {
    flex: 1;
    width: 100%;
    height: 100vh;
    padding: 100px 60px;
    background-color: #EFF8E5;
    border-radius: 15px;
    position: relative;
    line-height: 0.9;

}

.hero-banner-container .beats-solo {
    font-size: 20px;
    margin-left: 10px;
}

.hero-banner-container button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: #C2D2B5;
    border: none;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}
.hero-banner-texts {
    position: absolute;
    z-index: 1;
    width: auto;
}
.hero-banner-container h3 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191d04;
    -webkit-text-fill-color: #eff8e5;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 4px;
    margin-left: 10px;

}

.hero-banner-container h1 {
    /*  -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #EFF8E5;
      -webkit-text-fill-color: #191D04;*/
    color: #191D04;
    font-size: 8.5em;
    margin-left: 10px;
    text-transform: uppercase;
    z-index: 1;

}

.hero-banner-container .hero-banner-image-container {
    width: 350px;
    height: 450px;
    position: absolute;
    top: 20%;
    right: 25%;
    z-index: 0;
    background-color: #C2D2B5;
}

.hero-banner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.desc {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 300px;

    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #191D04;

}

.desc p {
    color: #191D04;
    font-weight: 500;
    text-align: end;
}

.desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    /* color: black; */
    align-self: flex-end;
}

.products-heading {
    text-align: center;
    margin: 40px 15px;
    color: #191D04;
}

.products-heading h2 {
    font-size: 4em;
    font-weight: bold;
}

.products-heading p {
    font-size: 2em;
    font-weight: 500;
}

.footer-banner-container {
    flex: 1;
    width: 100%;
    padding: 50px 50px;
    background-color: #C2D2B5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M663.13-55.04C491.87-2.51 440.84 483.68 194.92 487.37-51 491.06-141.85 253.49-273.29 246.57' stroke='rgba(239%2c 248%2c 229%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M818.44-39.41C667.56-29.05 559.13 260.39 293.32 260.9 27.5 261.41-96.3 127.56-231.81 126.5' stroke='rgba(239%2c 248%2c 229%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M702.27-3.25C546.04 64.99 533.29 543.15 312.27 556.17 91.25 569.19 25.84 418.27-77.73 416.17' stroke='rgba(239%2c 248%2c 229%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1162.9-76.73C1050.57-71.3 964.12 123.16 760.1 123.58 556.08 124 558.7 53.58 357.3 53.58 155.9 53.58 56.71 123.32-45.5 123.58' stroke='rgba(239%2c 248%2c 229%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1079.73-53.63C912.05-41.71 792.2 283.32 498.12 283.81 204.03 284.3 67.46 122.92-83.5 121.41' stroke='rgba(239%2c 248%2c 229%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1485' height='560' preserveAspectRatio='none' viewBox='0 0 1485 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1161%26quot%3b)' fill='none'%3e%3cpath d='M1397 145L1396 -138' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M112 342L111 678' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1422 284L1421 -101' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M806 102L805 502' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M722 532L721 159' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1253 470L1252 289' stroke-width='8' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M390 36L389 -347' stroke-width='6' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M880 442L879 234' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M766 218L765 424' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1217 448L1216 840' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1124 433L1123 815' stroke-width='8' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M429 504L428 702' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M462 119L461 -270' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M913 65L912 287' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1077 22L1076 -358' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1220 236L1219 645' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M657 505L656 333' stroke-width='6' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M841 402L840 768' stroke-width='6' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M789 27L788 -138' stroke-width='10' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M521 175L520 347' stroke-width='8' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1443 516L1442 245' stroke-width='10' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M115 284L114 644' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M337 73L336 484' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M504 39L503 326' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M277 387L276 139' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M987 444L986 695' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M698 269L697 432' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M415 70L414 -189' stroke-width='8' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M688 176L687 28' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M635 317L634 34' stroke-width='10' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M339 423L338 740' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1359 307L1358 137' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M783 489L782 840' stroke-width='10' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M804 221L803 485' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M59 145L58 -224' stroke-width='10' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1102 99L1101 -299' stroke-width='10' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1148 447L1147 177' stroke-width='8' stroke='url(%23SvgjsLinearGradient1163)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M552 393L551 558' stroke-width='6' stroke='url(%23SvgjsLinearGradient1162)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1161'%3e%3crect width='1485' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1162'%3e%3cstop stop-color='rgba(239%2c 248%2c 229%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(239%2c 248%2c 229%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1163'%3e%3cstop stop-color='rgba(239%2c 248%2c 229%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(239%2c 248%2c 229%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");*/
    border-radius: 30px;
    position: relative;
    line-height: 1;
    color: #191D04;
    margin-top: 120px;
}

.banner-desc {
    display: flex;
    justify-content: space-between;

}
.banner-desc-text2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191d04;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 4px;
    margin-left: 10px;
    z-index: 10;
}

.banner-desc button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/*Custom Button*/
.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 15px;
    text-transform: uppercase;

}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;

}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*End Custom Button*/

.banner-desc .left h3 {
    font-weight: 900;
    font-size: 80px;
    margin: 15px 0;
}

.banner-desc .left p {
    font-size: 1em;
    font-weight: bold;
}

.footer-banner-image-container {
    transform: rotate(90deg);
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: -15px;
    right: 5%;
    z-index: 0;
}

.footer-banner-image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    /* top: -35%;
    left: 8%; */
}

.whatsapp {
    margin: 15px 0;
    align-content: center;
    border-radius: 15px;
    background-color: #C2D2B5;
    padding:  10px 10px;
    max-width: 90%;
    align-self: center;

}

.qrcode {
    width: 100%;
    height: 100%;
    background-color: #BF1A2F;
}

.banner-desc .right {
    line-height: 1.4;
}

.banner-desc .right h3 {
    font-weight: 800;
    font-size: 60px;
}

.banner-desc .right p {
    font-size: 1em;
    font-weight: bold;
}

.banner-desc .right .company-desc {
    font-size: 14px;
    font-weight: 300;
}

.cart-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    /* will-change: transform;*/
    transition: all 1s ease-in-out;

}

.cart-container {
    height: 100vh;
    width: 45%;
    background-color: #EFF8E5;
    float: right;
    /* padding: 40px 10px;*/
    position: relative;
    z-index: 100;
}

.footer-container {
    height: 20vh;
    color: #191D04;
    text-align: center;
    margin-top: 20px;
    padding: 55px 0;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;

}


.footer-container .icons {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.cart-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    border: none;
    background-color: transparent;
    margin: 15px 10px;
}

.cart-heading .heading {
    margin-left: 10px;
}

.cart-num-items {
    margin-left: 10px;
    color: #BF1A2F;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    margin: 40px;
    text-align: center;

    justify-content: center;
    align-items: center;
}

.empty-cart h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 50%;
}

.cancel {
    cursor: pointer;
}

.product-container {
    width: 100%;
    height: 70%;
    max-height: 70%;
    padding: 0 10px;
    overflow-y: scroll;

}

.product {
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    width: 100%;
}

.product .cart-product-image {
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #191D04;
    object-fit: contain;
}

.item-desc {
    width: 100%;
}

.item-desc .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #191D04;

}

.item-desc .bottom {
    margin-top: 30px;
    display: flex;

}

.flex h5 {
    font-size: 24px;
}

.flex h4 {
    font-size: 20px;
}

.total {
    display: flex;
    justify-content: space-around;

}

.total h3 {
    font-size: 22px;

}

.remove-item {
    font-size: 24px;
    color: #f02d34;
    cursor: pointer;
    background: transparent;
    border: none;
}

.cart-bottom {
    border-top: solid 3px #191D04;
    width: 100%;
    padding: 10px;
}

.backdrop {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    padding: 30px;

}

.modal {
    background-color: #C2D2B5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.order-wrapper {
    justify-content: center;
    align-items: center;
    height: 90%;
    position: relative;
}

.order {
    margin-top: 30px;
}

.order p {
    font-weight: 500;
    font-family: Consolas, serif;
    letter-spacing: 1px;
}

.order-bottom {
    background-color: #EBEBEB;
    border-radius: 20px;
    padding:10px ;
    position: absolute;
    right: 15px;
    bottom: 15px;
    align-self: center;
}

.btn-container {
    width: 400px;
    margin: auto;
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #BF1A2F;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.product-detail-container {
    display: flex;
    gap: 2rem;
    padding: 120px 30px;
    padding-bottom: 0;
    color: #191D04;
    background-color: #EFF8E5;
}

.images-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    width: 60%;
    height: 500px;
    max-height: 500px;
    justify-content: center;
    align-items: flex-start;
}

.images-wrapper .image-container {
    width: 100%;
    height: 75%;
}

.product-detail-image {
    background-color: transparent;
    border: 1px #C2D2B5 solid;
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*  cursor: pointer;*/
    transition: .3s ease-in-out;
}

.product-detail-image:hover {

    opacity: 0.9;

}

.small-images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-image {
    background-color: #C2D2B5;
    border-radius: 10px;
    border: rgba(25, 29, 4, 0.5) solid 1px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    object-fit: contain;
}

.selected-image {
    background-color: #D9E5CD;
}

.reviews {
    color: #F08700;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
}

.reviews p {
    font-weight: 500;
}

.product-detail-desc {
    width: 40%;
}

.product-detail-desc h4 {
    margin-top: 20px;
    font-weight: bold;
}

.reviews p {
    color: #191D04;
}

.product-detail-desc .price {
    font-weight: bold;
    font-size: 26px;
    color: #BF1A2F;
}
.product-detail-desc .unity {
    font-weight: bold;
    font-size: 26px;
    color: #BF1A2F;

}

.price .old-price, .product-price .old-price, .price .old-price {
    color: black;
    text-decoration: line-through;
}

.product-detail-desc .quantity {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.product-detail-desc .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttons .add-to-cart {
    width: 70%;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #BF1A2F;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: white;
    color: #BF1A2F;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.25s ease;
}

.buttons .add-to-cart:hover {
    transform: scale(1.1, 1.1)
}

.buttons .buy-now {
    border-radius: 10px;
    width: 70%;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #BF1A2F;
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.25s ease;
}

.buttons .buy-now:hover {
    transform: scale(1.1, 1.1)
}

.quantity-desc {
    border: 1px solid rgba(25, 29, 4, 0.5);
    padding: 3px 0;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.quantity-desc-cart {

    border-radius: 5px;
    background-color: transparent;
    align-items: center;
    width: 115px;
    max-width: 115px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.quantity-desc-cart span {
 font-weight: bold;
}
.quantity-desc span {
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
}

.quantity-desc-cart span {
    cursor: pointer;
}

.quantity-desc .minus {
    border-top: 1px solid rgba(25, 29, 4, 0.5);

}

.num {
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid rgba(25, 29, 4, 0.5);
    border-radius: 5px;
    text-align: center;
    color: #191D04;
    position: relative;
}
.num span{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    right: -20px;
}
/*.quantity-desc .plus{
  border-left: 1px solid rgba(25, 29, 4, 0.5);
}*/

.maylike-products-wrapper {
    margin-top: 0px;
    padding: 30px 0;
    background-color: #C2D2B5;
    border-radius: 30px;
}

.maylike-products-wrapper h2 {
    text-align: center;
    margin: 30px 15px;
    color: #191D04;
    font-size: 40px;
    font-weight: bold;

}

.maylike-products-container {
    display: flex;
    gap: 15px;
}

.max-qty {
    font-weight: 500;
    color: #000;
}

.success-wrapper, .cancel-wrapper {
    height: 100vh;
    width: 100%;
    padding: 100px 0;
}

.success, .cancel {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 40px;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: #191D04;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cancel p {
    font-size: 20px;
    font-weight: 600;
}

.success .description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #F08700;
}

.product-max-qty {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .hero-banner-container .hero-banner-image-container {
        width: 50%;
        height: 40%;
        left: 25%;
        top: 25%;
    }

    .hero-banner-container button {
        margin: 0 30px;
        font-size: 18px;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
    }

    .banner-desc button {
        width: 100%;

    }

    .products-heading p {
        font-size: 1.5em;
    }

    .footer-banner-container {
        margin-top: 80px;
    }

    .footer-banner-image-container {
        top: 30%;

    }

    .footer-banner-image {
        width: 100%;
        height: 80%;
    }

    .banner-desc .left h3 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 5px;
    }

    .banner-desc .left p {
        margin: 18px;
    }

    .banner-desc .right h3 {
        font-size: 45px;
    }

    .banner-desc .right p {
        font-size: 18px;
    }

    .banner-desc .right .company-desc {
        font-size: 14px;
    }

    .banner-desc {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero-banner-container {
        line-height: 1.3;
    }

    .hero-banner-container h1 {
        font-size: 60px;
    }

    .hero-banner-container h3 {
        font-size: 40px;
    }

    .desc {
        bottom: 100px;
    }

    .product-detail-container {
        flex-wrap: wrap;
        padding: 120px 10px;
    }

    .product-card-carousel {
        flex-direction: column;
    }
    .product-name-carousel {
        font-size: 35px;
    }
    .product-details-carousel {
        font-size: 15px;
    }
    /*  .product-detail-container .product-detail-image{
        width: 350px;
        height: ;
      }*/
    .cart-container {
        width: 100%;


    }


/*    .product-container {
        margin-top: 0px;

    }*/

    .product {
        padding: 20px 5px;

    }


    .product .cart-product-image {
        width: 70px;
        height: 70px;
    }

    .buttons .add-to-cart {
        width: 150px;
        font-size: 13px;
    }

    .buttons .buy-now {
        width: 150px;
        font-size: 13px;
    }

    .product-detail-container {
        margin: 20px;
    }

    .item-desc .flex {
        width: 100%;
    }

    .top {
        flex-wrap: wrap;
        gap: 10px;
    }

    .images-wrapper {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .product-detail-desc {
        width: 100%;
    }

    .small-images-container {
        flex-direction: row;
    }

    .product-detail-desc .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }

    .buttons .buy-now {
        margin-top: 0;

    }

    /*.images-wrapper .image-container{
      border: yellow 1px solid;
      align-items: center;
      justify-content: center;
    }*/
    .item-desc .bottom {
        margin-top: 30px;
    }

    .flex h5 {
        font-size: 16px;
        color: #191D04;
    }

    .flex h4 {
        font-size: 16px;
        color: black;
    }


    .total h3 {
        font-size: 20px;
    }

    .track {
        animation: marquee 10s linear infinite;
        width: 550%;
    }

    .success-wrapper, .cancel-wrapper {
        height: 80vh;
    }

    .success, .cancel {
        padding: 20px;
    }

    .success {
        height: 350px;
    }

    .success h2 {
        font-size: 17px;
    }

    .btn-container {
        width: 300px;
        margin: auto;
    }
}
